*{
 box-sizing: border-box;
}
 body{
    margin: 0;
    padding: 0;
    background-color: azure;

 }

.fondogame{
    background-image: url('/img/fondo.png'); /* Adjust path as necessary */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 100%; /* Adjusted for better responsiveness */
    height: 700px; /* Adjust height as needed */


}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.press-start-2p-regular{
    font-size: 150px;
    font-family: "Jersey 10";
    color: black;

}

