*{
 box-sizing: border-box;
}
 body{
    margin: 0;
    padding: 0;
    background-color: azure;

 }

.fondogame{
    background-image: url('/img/fondo.png'); /* Adjust path as necessary */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 100%; /* Adjusted for better responsiveness */
    height: 700px; /* Adjust height as needed */


}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.press-start-2p-regular{
    font-size: 150px;
    font-family: "Jersey 10";
    color: black;

}

.pMover {
    position: absolute;
    top: 35vh;
    left: 20%;
    animation: halloween 2s infinite
}

@keyframes halloween {
    0% {top:35vh; left: 10%;}
    20% {top: 40vh; left: 50%; transform: 
    rotate(360deg);}
    60% {top:10vh; left: 70%;}
    80% {top: 40vh; left: 100%; transform: 
    rotate(0deg);}
}

.fondoGame {
        background-image: url(img/fondo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        width: 100%;
        height: 70vh;
}
